! Configuration File for keepalived

vrrp_instance VI_1I {
    state {% if inventory_hostname in groups['proxy1'] %}MASTER {% else %}BACKUP {% endif %}

    interface enp0s8
    virtual_router_id 51
    priority {% if inventory_hostname in groups['proxy1'] %}101 {% else %}100 {% endif %}

    advert_int 1
    authentication {
    auth_type PASS
    auth_pass 1111
}
    virtual_ipaddress {
    192.168.1.123/24
	}
}

